name: Distribution
  on:
    push:
      branches: [ main ]
    workflow_dispatch:
  jobs:
    distribution:
      name: Firebase App Distribution
      runs-on: macos-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Build and Distribute
          env:
            APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
            APP_BUNDLE_ID: ${{ secrets.APP_BUNDLE_ID }}
            FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
            FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
            GITHUB_AUTH: ${{ secrets.GITHUB_AUTH }}
            MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
            MATCH_GIT_BASIC_AUTH: ${{ secrets.MATCH_GIT_BASIC_AUTH }}
          run: |
            bundle install
            bundle exec fastlane ios distribution
